<a href="https://colab.research.google.com/github/Meghana-md/Meghanaudari/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
 #Write a Python program to declare a variable x with the value 10 and print its type.

In [ ]:
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.

In [ ]:
a=5
b=10
c=15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).

In [ ]:
a=5
b=10.5
c="rishi"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)

In [ ]:
a=int(input("enter the first number: "))
b=int(input("enter the second number: "))
print("Addition is: ",a+b)
print("Subtraction is: ",a-b)
print("Multiplication is: ",a*b)
print("Division: ",a/b)

enter the first number: 25
enter the second number: 10
Addition is:  35
Subtraction is:  15
Multiplication is:  250
Division:  2.5

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.

In [ ]:
a='123'
b=int(a)
c=float(a)
print(b)
print(c)

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)

In [ ]:
user_input=input("enter the string: ")
print(user_input[0])

enter the string: meghana
m

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)

In [ ]:
user_input=input("enter the string: ")
print(len(user_input))

enter the string: meghana
7

In [ ]:
# Write a Python program to check if a given string contains only alphabets.

In [ ]:
def only_alphabets(s):
  return s.isalpha()
print(only_alphabets("Meghana"))

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)

In [ ]:
user_input=input("Enter the string: ")
user_input1=input("Enter the string: ")
print(user_input+user_input1)

Enter the string: meghana
Enter the string: mudhiraj
meghanamudhiraj

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)

In [ ]:
def find_index_substring(string, substring):
  return string.find(substring)

user_input=input("Enter the string: ")
substring="abc"

index=find_index_substring(user_input , substring)
if index != -1:
  print(f"The substring {substring} is  found in the index {index}")
else:
  print(f"The substring {substring} is not found in the index {index} ")

Enter the string: i have abc
The substring abc is  found in the index 7

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)

In [ ]:
user=input("Enter the string: ")
user.upper()
user.lower()
print(user.upper())
print(user.lower())

Enter the string: meghana
MEGHANA
meghana

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)

In [ ]:
user=input("Enter the string: ")
char_to_count=input("Enter the character to count: ")
count=user.count(char_to_count)
print(f"The character {char_to_count} appears {count} times in the string")

Enter the string: Meghana
Enter the character to count: a
The character a appears 2 times in the string

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)

In [ ]:
user=input("Enter your name: ")
print(f"Hello {user} Good Morning")

Enter your name: Meghana
Hello Meghana Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.

In [ ]:
a=50
b=54
a+b

104

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)

In [ ]:
name=input("Enter your Name: ")
age=input("Enter your age:" )
print("User's Name is:",name)
print("User's Age is:",age)

Enter your Name: meghana
Enter your age:20
User's Name is: meghana
User's Age is: 20

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.

In [ ]:
a=20
if (a>0):
  print(f"The number {a} is positive" )
elif (a<0):
  print(f"The number {a} is negative" )
else:
  print(f"The number {a} is zero ")

The number 20 is positive

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)

In [ ]:
user1=input("Enter the first number: ")
user2=input("Enter the second number: ")
user3=input("Enter the third number: ")

maximum=max(user1,user2,user3)
print(f"The maximum number is {maximum}")

Enter the first number: 147
Enter the second number: 125
Enter the third number: 14
The maximum number is 147

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)

In [ ]:
user=int(input("Enter the year: "))
if (user%4==0):
  print(f"{user} is a leap year")
else:
  print(f"{user} is not a leap year")

Enter the year: 2004
2004 is a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)

In [ ]:
a=float(input("Enter a number: "))

if(a%3==0 and a%5==0):
  print(f"{a} is divisible by both 3 and 5")
else:
  print(f"{a} is not divisible by both 3 and 5")

Enter a number: 15.3
15.3 is not divisible by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)

In [ ]:

def is_palindrome(s):

    s = s.replace(" ", "").lower()

    return s == s[::-1]


user_input = input("Enter a string: ")

if is_palindrome(user_input):

    print(f"'{user_input}' is a palindrome!")
else:
    print(f"'{user_input}' is not a palindrome.")

Enter a string: madam
'madam' is a palindrome!

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
  print(f"The Number: {i} ")

The Number: 1
The Number: 2
The Number: 3
The Number: 4
The Number: 5
The Number: 6
The Number: 7
The Number: 8
The Number: 9
The Number: 10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.

In [ ]:
number=1

while number<=20:
  if number%2==0:
    print(f"The even number is {number}")
  number+=1

The even number is 2
The even number is 4
The even number is 6
The even number is 8
The even number is 10
The even number is 12
The even number is 14
The even number is 16
The even number is 18
The even number is 20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)

In [ ]:
user_input=int(input("Enter the number for multiplication table is: "))

for i in range(1,11):
  print(f"{user_input} * {i} = {user_input*i}")

Enter the number for multiplication table is: 80
80 * 1 = 80
80 * 2 = 160
80 * 3 = 240
80 * 4 = 320
80 * 5 = 400
80 * 6 = 480
80 * 7 = 560
80 * 8 = 640
80 * 9 = 720
80 * 10 = 800

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)

In [ ]:

n = int(input("Enter a number (n) to calculate the sum from 1 to n: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1

print(f"The sum of all numbers from 1 to {n} is: {sum}")

Enter a number (n) to calculate the sum from 1 to n: 10
The sum of all numbers from 1 to 10 is: 55

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)

In [ ]:
user_input=int(input("Enter the number: "))
factorial=1
i=1
while i<=user_input:
  factorial*=i
  i+=1
print(f"The factorial of {user_input} is {factorial}")

Enter the number: 10
The factorial of 10 is 3628800

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)

In [ ]:
user_input=int(input("Enter the number: "))
a,b=0,1
count=0
while count<user_input:
  print(f"The Fibonacci sequence is :{a}")
  a,b=b,a+b
  count+=1

Enter the number: 10
The Fibonacci sequence is :0
The Fibonacci sequence is :1
The Fibonacci sequence is :1
The Fibonacci sequence is :2
The Fibonacci sequence is :3
The Fibonacci sequence is :5
The Fibonacci sequence is :8
The Fibonacci sequence is :13
The Fibonacci sequence is :21
The Fibonacci sequence is :34

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.

In [ ]:
for i in range(1,101):
  if i>1:
    for j in range(2,i):
      if i%j==0:
        break
    else:
      print(f"The prime number is {i}")

The prime number is 2
The prime number is 3
The prime number is 5
The prime number is 7
The prime number is 11
The prime number is 13
The prime number is 17
The prime number is 19
The prime number is 23
The prime number is 29
The prime number is 31
The prime number is 37
The prime number is 41
The prime number is 43
The prime number is 47
The prime number is 53
The prime number is 59
The prime number is 61
The prime number is 67
The prime number is 71
The prime number is 73
The prime number is 79
The prime number is 83
The prime number is 89
The prime number is 97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).

In [ ]:
import random

numbers = [random.randint(1, 100) for _ in range(10) ]
print("Generated numbers:", numbers)

for number in numbers:
    print(f"Checking number: {number}")
    if number > 50:
        print(f"Number greater than 50 found: {number}")
        break
else:

    print("No number greater than 50 was found.")

Generated numbers: [58, 3, 25, 27, 16, 23, 39, 81, 25, 32]
Checking number: 58
Number greater than 50 found: 58

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.

In [ ]:
for i in range (1,21):
  if i%2==0:
    print(f"The odd number is {i}")

The odd number is 2
The odd number is 4
The odd number is 6
The odd number is 8
The odd number is 10
The odd number is 12
The odd number is 14
The odd number is 16
The odd number is 18
The odd number is 20

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

In [ ]:
user_input=input("Enter the string: ")
char_to_count=input("Enter the character to count: ")
count=0
for char in user_input:
  if char==char_to_count:
    count+=1
print(f"The character {char_to_count} is appeared in a string {user_input} is : {count}")

Enter the string: meghana
Enter the character to count: a
The character a is appeared in a string meghana is : 2

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)

In [ ]:

number = int(input("Enter a number: "))

number = abs(number)

sum_of_digits = 0

while number > 0:

    digit = number % 10
    sum_of_digits += digit

    number = number // 10

print(f"The sum of the digits is {sum_of_digits}.")

Enter a number: 58
The sum of the digits is 13.

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

In [ ]:
list=[1,7,8,5,9,3]
sum=0
for i in list:
  sum+=i
print(f"The sum of the elements in the {sum}")

The sum of the elements in the 33

In [ ]:
# Write a Python program to find the largest element in a list.

In [ ]:
list=[1,7,8,4,8,58]
largest=max(list)
print(f"The largest element in the list is : {largest}")

The largest element in the list is : 58

In [ ]:
# Write a Python program to reverse a list.

In [ ]:
list=[5,7,8,4,8,58,5,6]
reverse=list[::-1]
print(f"The reverse of the list is : {reverse}")

The reverse of the list is : [6, 5, 58, 8, 4, 8, 7, 5]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

In [ ]:
x=[1,2,3,4,5]
n=int(input("enter the element to remove from the list:"))
x.remove(n)
print(x)

enter the element to remove from the list:1
[2, 3, 4, 5]

In [ ]:
# User input
input_list = input("Enter a list of elements separated by spaces: ").split()
element_to_remove = input("Enter the element to remove: ")

# Using list comprehension to remove all occurrences
input_list = [item for item in input_list if item != element_to_remove]

# Display the result
print(f"List after removing '{element_to_remove}': {input_list}")

Enter a list of elements separated by spaces: 1,2,3,65,7,
Enter the element to remove: 3
List after removing '3': ['1,2,3,65,7,']

In [ ]:
# Write a Python program to find the index of an element in a list.

In [ ]:
list=[1,45,8,9,6,4,3]
index=list.index(8)
print(f"The index of the element is : {index}")

The index of the element is : 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.

In [ ]:
list=[1,4,5,8,9,6,4,3]
element=int(input("Enter the element: "))
if element in list:
  print(f"The element {element} exists in the list")
else:
  print(f"The element {element} does not exists in the list")

Enter the element: 10
The element 10 does not exists in the list

In [ ]:
# Write a Python program to remove duplicates from a list.

In [ ]:
list=[1,4,5,8,9,6,4,3,2,5,7]
remove=list.remove(7)
print(f"The remove element from the list is : {remove}")

The remove element from the list is : None

In [ ]:
# Write a Python program to count the occurrences of an element in a list.

In [ ]:
list=[1,4,5,8,9,6,4,3,2,5,7]
count=list.count(4)
print(f"The count of the element is : {count}")

The count of the element is : 2

In [ ]:
# Write a Python program to get the number of even numbers in a list.

In [ ]:
list=[1,4,5,7,8,6,7,4,5,8,10]
for i in list:
  if i%2==0:
    print(f"The even number is : {i}")

The even number is : 4
The even number is : 8
The even number is : 6
The even number is : 4
The even number is : 8
The even number is : 10

In [ ]:
# Write a Python program to create a tuple and print it.

In [ ]:

my_tuple = ("apple", "banana", "cherry", 42, 3.14)

print("The created tuple is:", my_tuple)

The created tuple is: ('apple', 'banana', 'cherry', 42, 3.14)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [ ]:

list_data = [6, 7, 8, 9, 10]

tuple_from_list = ()

for item in list_data:
    tuple_from_list += (item,)

print("List to Tuple using for loop:", tuple_from_list)


tuple_data = (1, 2, 3, 4, 5)


list_from_tuple = []

for item in tuple_data:
    list_from_tuple.append(item)

print("Tuple to List using for loop:", list_from_tuple)

List to Tuple using for loop: (6, 7, 8, 9, 10)
Tuple to List using for loop: [1, 2, 3, 4, 5]

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.

In [ ]:


tuple_data = (10, 20, 4, 45, 99)
max_value = max(tuple_data)
min_value = min(tuple_data)
print(f"The maximum value in the tuple is: {max_value}")
print(f"The minimum value in the tuple is: {min_value}")

The maximum value in the tuple is: 99
The minimum value in the tuple is: 4

In [ ]:
# Write a Python program to unpack a tuple into variables.

In [ ]:
tuple_data = (1, 2, 3, 4)

a, b, c, d = tuple_data
print("Unpacked values:")
print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")
print(f"d = {d}")

Unpacked values:
a = 1
b = 2
c = 3
d = 4

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(5)
print("Updated set:", my_set)
element_to_check = 3
found = False
for element in my_set:
    if element == element_to_check:
        found = True
        break
if found:
    print(f"Element {element_to_check} exists in the set.")
else:
    print(f"Element {element_to_check} does not exist in the set.")

Updated set: {1, 2, 3, 4, 5}
Element 3 exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [ ]:
x={'maths': 80 , 'physics':85 , 'biology':90}
print(x)

{'maths': 80, 'physics': 85, 'biology': 90}

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [ ]:
x={'maths': 80 , 'physics':85 , 'biology':90}
print(x['maths'])

80

In [ ]:
# Write a Python program to check if a key exists in a dictionary.

In [ ]:
x={'maths': 80 , 'physics':85 , 'biology':90}
if 'maths' in x:
  print("The key exists in the dictionary")
else:
  print("The key does not exists in the dictionary")

The key exists in the dictionary

In [ ]:
# Write a Python program to merge two dictionaries.

In [ ]:
x = {'maths': 80, 'physics': 85, 'biology': 90}
y = {'chemistry': 95, 'history': 88}
x.update(y)
print(x)

{'maths': 80, 'physics': 85, 'biology': 90, 'chemistry': 95, 'history': 88}

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
x={'maths': 80, 'physics': 85, 'biology': 90}
del x['maths']
print(x)

{'physics': 85, 'biology': 90}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
x={'maths': 80, 'physics': 85, 'biology': 90}
print(len(x))

3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

In [ ]:
x={'maths': 80, 'physics': 85, 'biology': 90}
largest=max(x.values())
smallest=min(x.values())
print(f"The largest value in the dictionary is : {largest}")
print(f"The smallest value in the dictionary is : {smallest}")

The largest value in the dictionary is : 90
The smallest value in the dictionary is : 80

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
a=int(input("Enter the number: "))
square=a*a
print(f"The square of the number is : {square}")

Enter the number: 5
The square of the number is : 25

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:

def add_numbers(a, b):
    return a + b

result = add_numbers(5, 10)

print("The sum is:", result)

The sum is: 15

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

number = int(input("Enter a number: "))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 5
5 is a prime number.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:

def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

number = int(input("Enter a number: "))
result = factorial(number)
print(f"The factorial of {number} is: {result}")

Enter a number: 8
The factorial of 8 is: 40320

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:

def power(base, exponent):

    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)

base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))
result = power(base, exponent)
print(f"{base} raised to the power of {exponent} is: {result}")

Enter the base: 2
Enter the exponent: 10
2 raised to the power of 10 is: 1024

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
x = [1,2,5,8,9,7]
count=0
for i in x:
  count+=1
print(f"The length of the list is : {count}")

The length of the list is : 6

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
def sum_positional_args(*args):

    total = sum(args)

    print("Sum of positional arguments:", total)

sum_positional_args(1, 2, 3, 4)

Sum of positional arguments: 10

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
def max_value(x,y):
  if x>y:
    return x
  else:
    return y
max_value(5,8)

8

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
def product(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result

numbers = [1, 2, 3, 4, 5]
product_result = product(numbers)
print("Product of numbers:", product_result)

Product of numbers: 120

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
def even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

number = int(input("Enter a number: "))
result = even_odd(number)
print(f"The number {number} is {result}.")

Enter a number: 45
The number 45 is Odd.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
squares = [x**2 for x in range(1, 11)]

print(f"The squares of numbers from 1 to 10 are: {squares}")

The squares of numbers from 1 to 10 are: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
x=[1,2,3,4,5,6,7,8,9,10]
even_number=[i for i in x if i%2==0]
print(f"The even numbers are : {even_number}")

The even numbers are : [2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
list_of_words = ["apple", "banana", "cherry", "date", "elderberry", "fig"]

longer_than_4_chars = [word for word in list_of_words if len(word) > 4]

print("Words longer than 4 characters:", longer_than_4_chars)

Words longer than 4 characters: ['apple', 'banana', 'cherry', 'elderberry']

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
list_of_words=['apple','banana','cherry']
uppercase_letters=[word.upper() for word in list_of_words]
print(f"The uppercase letters are : {uppercase_letters}")

The uppercase letters are : ['APPLE', 'BANANA', 'CHERRY']

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
def fibonacci_gen(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b
n = 10
fib_list = [x for x in fibonacci_gen(n)]
print(f"The fibonacci numbers are: {fib_list}")

The fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
x = {i: i**2 for i in range(1, 6)}
print(f"The numbers and values are their squares {x}")

The numbers and values are their squares {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

dict_comprehension = {keys[i]: values[i] for i in range(len(keys))}

print(dict_comprehension)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [3]:
cubes_dict = {number:number**3 for number in range(1,6)}
print(f"The dictionary with numbers and their values are cubes: {cubes_dict}")

The dictionary with numbers and their values are cubes: {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [4]:

numbers = [1, 2, 3, 4, 5]

squared_numbers = list(map(lambda x: x**2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [5]:
number = [1,2,3,4,5,6,7,8]
even_number=list(filter(lambda x:x%2==0,number))
print(f"The even numbers are : {even_number}")

The even numbers are : [2, 4, 6, 8]

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [12]:
number = 15
is_divisible = lambda x: x%3==0 and x%5==0
print(f"The number {number} is divisible by both 3 and 5: {is_divisible(number)}")

The number 15 is divisible by both 3 and 5: True

In [13]:

is_divisible = lambda x: x % 3 == 0 and x % 5 == 0

number = 15
print(f"Is {number} divisible by both 3 and 5? {is_divisible(number)}")

number = 10
print(f"Is {number} divisible by both 3 and 5? {is_divisible(number)}")

Is 15 divisible by both 3 and 5? True
Is 10 divisible by both 3 and 5? False

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [15]:
element = [1,2,3,6,5,4,7]
is_multiply=list(map(lambda x : x*2 , element ))
print(f"The multiply of the list is : {is_multiply}")

The multiply of the list is : [2, 4, 6, 12, 10, 8, 14]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

In [20]:
my_list = [1, 2, 3, 4, 3, 5, 3, 6]
element_to_remove = 3

print(f"List before removing{element_to_remove}: {my_list}")

while element_to_remove in my_list:
    my_list.remove(element_to_remove)

print(f"List after removing {element_to_remove}: {my_list}")

List before removing3: [1, 2, 3, 4, 3, 5, 3, 6]
List after removing 3: [1, 2, 4, 5, 6]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`